.top-toolbar-container {
  min-height: 7vh;
  height: 7vh;
  max-height: 7vh;
  .top-toolbar-wrapper {
    .top-toolbar-spacer {
      flex: 1 1 auto;
    }
  }
}

.top-toolbar-container, .top-toolbar-wrapper {
  display: flex;
  justify-content: center;
}

.home-main-map {
  min-height: 93vh;
  height: 93vh;
  max-height: 93vh;
}
